.card {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;

  &:hover {
    box-sizing: border-box;
    box-shadow: rgba(28, 28, 28, 0.12) 0px 4px 18px 0px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(193, 185, 185);
    border-radius: 15px;
  }
  .image {
    gap: 10px;
    width: 90%;
    height: 350px;
    overflow: hidden;
    position: relative;

    &:hover {
      .secImg {
        z-index: 2;
      }
      border-color: gray;
      border: 10px;
    }

    img {
      width: 100%;
      height: 95%;
      object-fit: cover;
      top: 15px;
      position: absolute;
      border-radius: 15px;
    }

    .mainImg {
      z-index: 1;
    }

    span {
      position: absolute;
      top: 20px;
      left: 10px;
      background-color: antiquewhite;
      color: orangered;
      z-index: 3;
      // padding: 3px 5px;
      font-weight: 600;
      font-size: 12px;
      border-radius: 5px;
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    h2 {display: flex;
    //   margin-bottom: 10px;
    }
    
    .price {
      display: flex;
      align-items: center;
      h3 {
        margin-right: 30px;
      }
    }
  }
}
